:root{
    --tmavaModra: #16213C;
    --svetlaModra: #8ECAE6;
    --pismoModra: #2D4275;
    --Orange: #F5841F;
    --tmavaOrange: #ED834E;
    --svetlaOrange: #FF7917;
    --Hneda: #340E0E;
    --Cerna: #000000;
    --Bila: #FFFFFF;
    --Seda: #D9D9D9;
    --svetlaSeda: #EFEFEF;
    --Sediva: #E7E7E7;
    --svetlaSediva: #F5F5F5;
}

.nav-span::before {
    content: "";
    width: 3px;
    height: 20px;
    background-color: var(--Seda);
}
/*html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    background-color: rgb(228, 205, 241);
}
*/
.hamburger {
    display: block;
}

.hamburger-nav {
    background-color: var(--Orange);
    border-top: 2px solid var(--tmavaModra);
}

.hamburger-nav li {
    display: block;
    padding: 0 1em;
}

.hamburger-nav a:hover {
    color: var(--Bila);
}

.hamburger-row {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    color: var(--Cerna);
    flex-wrap: nowrap;
    /*flex-direction: column;**/
    align-items: center;
}
.hamburger-nav ul {
    margin: 0;
    padding: 0;
}

.btn-cta {
    background-color: var(--tmavaModra); 
    font-size: 22px;
    font-weight: bold;
    border-top: 0;
}

.btn-cta > a {
    color: var(--Orange);
}

.nav-item{
    text-align: center;
    border-bottom: 2px solid var(--tmavaModra);
}

@media screen and (min-width: 640px) {
    .hamburger-btn {
        display: none;
    }

    .hamburger-nav {
        transform: none;
    }

    .hamburger-nav ul {
        height: 100%;
        max-width: 300px;
        /*border-right: 1px solid rgb(96, 80, 128);*/
    }

    .btn-cta {
        font-size: 22px;
        font-weight: bold;
        display: flex;
        background-color: var(--Orange);
        border-radius: 1em;
        color: var(--Bila);
        /*width: fit-content;*/
    }
    
    .btn-cta:hover {
        border-radius: 1em;
        border: 5px solid var(--Orange);
        background-color: var(--Bila);
        color: var(--Orange);
        font-weight: bold;
    }

    .btn-cta > a {
        color: var(--Bila);
    }
    
    .nav-item{
        text-align: center;
    }
    
    .hamburger-nav {
        background-color: var(--Bila);
        border-top: none;
        border-bottom: none;
    }
    
    .hamburger-nav li {
        display: flex;
    }
    
    .hamburger-nav a:hover {
        color: var(--Cerna);
    }

    .hamburger-row {
        padding: 1em;
        display: flex;
        justify-content: space-between;
        color: var(--Cerna);
    }
}